.containerCards {
    display: grid;
    gap: 1rem;
    grid-auto-rows: 12rem;
    grid-template-columns: repeat(auto-fill,minmax (10rem, 1fr));
}

.card {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 250px;
    width: 200px;
    margin: 0 8px 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .containerCards .card:not(.highlight-card) {
    cursor: pointer;
  }

  .containerCards .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .containerCards .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }
